<div class="full-bg v-center">
  <div class="center-text">
    <h1>Keynotebingo.net</h1>
    {{outlet}}
  </div>
</div>

<div class="shhht dont tell anyone">Made by Tobias Engelberg and Sven Lückenbach</div>
